selenium==2.53.0
chromedriver-binary==2.37.0
chardet==4.0.0
idna==2.10
pdfminer.six==20200517
pdfplumber==0.5.26
Pillow==8.1.0
pycryptodome==3.10.1
PyPDF2==1.26.0
requests==2.25.1
sortedcontainers==2.3.0
urllib3==1.26.3
Wand==0.6.5
